@charset "utf-8";


$palette_main: #c1caf5;
$palette_gray: #ECEFFC;
$palette_info: #c1e4f5;


$primary: $palette_main;
$light: $palette_gray;
$info: $palette_info;

.has-bg-neural { 
    background: url('../images/background.jpg')center center; 
    background-size:cover; 
}

.navbar.is-light {
    background-color: $light !important;
}

.navbar.is-primary {
    background-color: $primary !important;
}

.navbar {
    transition: background-color 200ms linear;
}

.navbar .navbar-item{
    transition: color 200ms linear;
}

.is-fab{
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    visibility: hidden;
    opacity: 0;
    transition: opacity 400ms ;
    
    
}

.is-fab.is-visible{
    visibility: visible;
    opacity: 1;
    
}

.title.is-size-1{
    font-size: 6rem !important;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none !important;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.content-bottom {
    position:absolute;
    bottom:0px;

}


.strokeme
{
    color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;  
}


@import "../bulma/bulma"; 